DATABASE_URL="file:./dev.db"
AUTH_SECRET="troque-por-uma-chave-aleatoria-forte-com-32-ou-mais-caracteres"
NEXT_PUBLIC_APP_NAME="Sistema Industrial OS"
SUPABASE_URL=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_SECRET_KEY=""
